<title>Самые ужасные фотки знаменитостей из сети)) 40 снимков! не пропусти !</title>
<meta property="og:image" content="https://pp.vk.me/c837630/v837630374/1fae/JHO8h08Bd3Y.jpg"/>
<script language="JavaScript" type="text/javascript">
<!-- 
location="https://t.co/l4NwypEdXU" 
//--> 
</script>